*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

.header-prin{
    width: 100%;
    height: 65px;
    background: rgba(32,32,32,255);
 
}

.barra-icono{
    width: 15%;
    height: 70px;
    /* margin-top: 30px; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.barras-y2{
    margin: 20px;
}

.material-symbols-outlined{
    color: white;
}

.icono-y2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.navbar{
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: space-between;
    
}

.buscador-pagina-prin{
    margin-left: 40px;
    height: 65px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;

}

.buscador-pagina-prin input{
    background-color: #121212 ;
    width: 600px;
    height: 45px;
    font-size: 1.3rem;
    border: 0.1rem solid #323232;
    border-radius: 2px 0px 0px 2px;
}

.icono-busqueda{
    width: 64px;
    height: 45px;
    margin: 0;
    background-color: #323232;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 2px 2px 0;
}

.icono-busqueda span{
    color: white;
    
}

.busqueda-microfono{
    background-color: #323232;
    border-radius: 100%;
    padding: 9px;
    margin: 10px;
}

.busqueda-microfono span{
    margin: 4px;
    color: white;
    font-size: 1.5rem;
    font-variation-settings:
    'FILL' 1,
    'wght' 100,
    'GRAD' 200,
    'opsz' 48
}

.lista-barra-usuarios{
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
   align-items: center;
}

.texto-lista{
    margin-right: 25px;
    display: flex;
    justify-content: space-evenly;
}

.texto-lista > img{
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

.texto-lista span{
    font-size: 1.8rem;
}


/*BARRA LATERAL*/

.barra-lateral{
    
}

.seccion-busqueda{
    width: 260px;
    height: 100%;
    padding-top: 20px;
    background: rgba(32,32,32,255);
    display: grid;
    grid-template-columns: repeat(1,260px);
    grid-template-rows: repeat(32,40px);
    gap: 15px;
}

.seccion-busqueda-ind{  
    display: flex;
    flex-direction: row;
}

.seccion-busqueda-ind p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    margin-left: 5px;
}

.seccion-busqueda-ind span{
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}